<div class="row">
  <div class="span10">
    <div class="offset5">
<h2><%= h @collection.title %></h2>
<p><%= h @collection.description %></p>

<% for album in @albums %>
<div class="row">
  <div class="title">
    <div class="container">
      <div class="row">
	<%= render :partial => "photos/thumb", :locals => {:photo => album.photos.first } unless album.photos.empty? %>

  </div>
      <p><%= link_to album.title, collection_album_path(@collection, album) %></p>
    </div>
  </div>
  <div class="image">
    <div class="container">
      <div class="row">
	<%= render :partial => "photos/thumb", :collection => album.photos.find(:all, :limit => 5, :offset => 1), :as => :photo %>

    </div>
  </div>
</div>

</div>
<% end %>

<%= content_for :action_links do %>
<% if has_role?("admin") %>
<%= link_to "PDF", collection_path(@collection, :format => 'pdf'),:class=>"link" %> |&nbsp;
<%= link_to "Edit collection", edit_collection_path(@collection) ,:class=>"link"%> |
<%= link_to "New album", new_collection_album_path(@collection),:class=>"link" %>
<% end %>
<% end %>
    </div>
  </div>
</div>