<div class="row">
  <div class="span10">
    <div class="offset5">
<h1>Edit My Account</h1>
 
<%= form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" ,:class=>"btn btn-primary"%>
<% end %>
 
<br /><%= link_to "My Profile", account_path %>
    </div>
  </div>
</div>