<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= ENV['TITLE'] || "JOSEVISION ON" %></title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="initial-scale=1.0">
	<%= yield :head %>
	<%= stylesheet_link_tag 'application' %>
    <%=javascript_include_tag 'application' %>
	<%= csrf_meta_tag %>
</head>
<body >
<%= render 'layouts/header' %>
<div id="content">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div id="all_content" >
	<%= yield %>
  </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
